[Unit]
Description={{ geth_name }} service

[Service]
Type=simple
ExecStart={{ geth_dir }}/geth --datadir "{{ geth_datadir }}" --cache {{ geth_cache }} --maxpeers {{ geth_maxpeer }}\
  {% if geth_testnet %} --testnet\{% endif %}
  {% if geth_port is defined %} --port {{ geth_port }}\{% endif %}
  {% if geth_rpc is defined and geth_rpc == true %} --rpc --rpcaddr {{ geth_rpcaddr }} --rpcport {{ geth_rpcport }} --rpcapi {{ geth_rpcapi }}{% if geth_rpccorsdomain is defined %} --rpccorsdomain "{{ geth_rpccorsdomain }}"{% endif %}{% endif %}

[Install]
WantedBy=multi-user.target
